altair==4.1.0
astor==0.8.1
async-generator==1.10
backcall==0.2.0
base58==2.1.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.0
certifi==2020.12.5
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Cors==3.0.10
gekko==0.2.8
gitdb==4.0.5
GitPython==3.1.12
itsdangerous==1.1.0
jedi==0.17.2
parso==0.7.1
Pillow==8.1.0
protobuf==3.14.0
pydeck==0.5.0
python-dateutil==2.8.1
pyzmq==20.0.0
QtPy==1.9.0
smmap==3.0.4
streamlit==0.74.1
terminado==0.9.2
testpath==0.4.4
toml==0.10.2
tzlocal==2.1
validators==0.18.2
watchdog==1.0.2
webencodings==0.5.1
Werkzeug==1.0.1
